<form [formGroup]="taskForm">

<div class="form-group task-input">
  <div>Id</div>
  <input formControlName="id" class="form-control">
  <div *ngIf="taskForm.controls.id.invalid">id is required</div>
</div>

  <div class="form-group task-input">
    <div>Title</div>
    <input formControlName="title" class="form-control">
    <div *ngIf="taskForm.controls.title.invalid">title is required</div>
  </div>

  <div class="form-group task-input">
  <div>Body</div>
  <input formControlName="body" class="form-control">
  <div *ngIf="taskForm.controls.body.invalid">body is required</div>
  </div>

<div class="form-group task-input">
  <div>Type</div>
  <input formControlName="type" class="form-control">
  <div *ngIf="taskForm.controls.type.invalid">type is required</div>
  </div>

  <button (click)="addTask()" [disabled]="taskForm.invalid" class="btn btn-dark">add task</button>
</form>

<h3>Tasks:</h3>
<div *ngFor="let task of tasks">
  <div>{{task.id}}. {{task.title}}</div>
  <div>{{task.body}}</div>
  <div>Type: {{task.type}}</div>
  <hr>
</div>
